@font-face{
        font-family:'lola';
        src: url('Oranienbaum.ttf');
        }
        
        
        .profile{
   color:gray; 
}


#login {
  width: 300px;
  font-family:lola;
  margin: 0 auto;
}


#login form input {
  height: 35px;
}

#login form input[type="text"], select,  input[type="mail"],  input[type="name"]{
  background-color: #404040;
  border-radius: 0px;
  color:white;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 250px;
   border-radius: 10px 10px 10px 10px;
}

#login form input[type="submit"] {

  background-color: #ff3300;
  color: #eee;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 200px;
  border-radius: 10px 10px 10px 10px;
  
}



input {
  border: none;
  font-family: lola;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
   border-radius: 10px 10px 10px 10px;
}

#login form input[type="submit"]:hover {
  background-color: #ff3300;
}

#login {
  text-align: center;
  
}


 select {
     background-color: #404040;
    font-family:lola;
       color:white;
   width: 280px; 
   height: 35px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    border: none;
    font-size:14px;}

        
        

    img{
        margin-top:0px;
    }
    section{
        padding-top:50px;
        align:left;
        
    }
    label{
        height:20px;
        background-color:#ffaf1a;
        color:white;
        margin:5px;
        width:25%;
         align:left;
         float:left;
   border-radius: 15px 0px 0px 15px;
   padding: 3px;
   
         padding-top: 5px;
    }
    
    .details{
        float:left;
        background-color: #404040;
        margin:5px;
        width:60%;
        height:20px;
        align:left;
           padding:0px;
        margin-left:0px;
     padding-left:0px;
       border-radius: 0px 15px 15px 0px;
          padding: 3px;
          padding-top: 5px;
    }
    
 