
  @font-face{
        font-family:'lola';
        src: url('Oranienbaum.ttf');
        }
        
        
        
     body{ background-image:linear-gradient(
      rgba(0, 0, 41, 0.20), 
      rgba(0, 0, 41, 0.20)
    ), url('../img/idanre.jpg');
    background-repeat: no-repeat;
    overflow-y: hidden; 
     background-repeat: no-repeat;
     background-position: center ;
     background-size: contain;
     max-width: 100%;
    overflow-x: hidden;
     -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;}
    
#login {
  width: 250px;
  font-family:lola;
  margin: 0 auto;
}


#login form input {
  height: 40px;
}

#login form input[type="text"], input[type="password"],  input[type="mail"],  input[type="name"]{
  background-color: rgba(0, 0, 41, 0.80);
  border-radius: 0px;
  color:#e6e6e6;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login form input[type="submit"] {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: darkorange;
  color: #eee;
  font-weight: bold;
  margin-bottom: 3px;
  text-transform: uppercase;
  width: 230px;
}


input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

#login form input[type="submit"]:hover {
  background-color: orange;
}

#login > p {
  text-align: center;
}

.sitename {
  margin: 0 auto;
    
}
#login #errorBox{
 color:orange;
 height: 20px;
 width: 250px;
 font-weight: bold;
 font-size: 14px;
 
 }
