
@font-face{
        font-family:'lola';
        src: url('../include/Oranienbaum.ttf');
        }
        
         html, body {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 padding: 0;
	 margin: 0;
	font-family:lola;
    background-position: center ;
     background-size: contain;
    
   background-color: #f2f2f2;
    
 }


       #loadingDiv{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('../img/spin.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
        



.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #ffd280;

}
.sitename {
     margin-top: 5px;
   margin-right:50%;
    margin-left: 35%;
    
}



section{
    
    padding-top: 70px;
   height: 100%;
     text-align: center;
     color: #fefefe;
     box-sizing: border-box;
     
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
      margin: 0 auto;
      clear: both;
    
}

.first{
     margin: 0 auto;
    font-size: 18px;
    color:#ff3300;
    width:80%;
    margin-bottom: 20px;}





@keyframes animateBorderOne {
  to {
    box-shadow: 0 0 0 5px #E0E4CC;
  }
}



.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
  list-style-type: none;
 
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  text-decoration: none;
  
}
 .menu a { 
         margin: 0 auto;
         width:100%;
 }
.menu-items { 
 width:50%;
 height:300px;
 background-color: rgba(0,0,51,.5);
text-align: left;
padding-top: 10px;
margin-top:0px;

  z-index: 10000;
}

.menu-items a{
    color:white;
    font-size:18px;
    
    
}


.menu-items img{
    margin-top: 8px;
    float:left;
    margin-right: 5px;
    margin-left: 3px;
}

.menu-items li{ 
    width:160px;
  height: 50px;
  line-height: 20px;
  margin-bottom: 5px;
  list-style-type: none;
   margin-top:auto;  
  border-bottom: 4px solid #ff3300;;
  
  
}


.container {
    float: left;
    cursor: pointer;
    margin-top:5px;
    margin-left:10px;

}

.bar1, .bar2, .bar3 {
    width: 30px;
    height:2px;
    background-color: #ff3300;
    margin: 9px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-90deg) translate(-9px, 6px) ;
    transform: rotate(-50deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(90deg) translate(-8px, -8px) ;
    transform: rotate(50deg) translate(-8px, -8px) ;
}




.fixed-foot-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 47px;
  background-color: #ffd280;

}

.foot-menu { 
     margin: 0 auto;
     height:50;
      width:50;
      padding:5px;
      float:left;
      margin-left: 38px;
      margin-bottom: 0px;

}
  foot-menu  a {
      
 }

.home{
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
     float:left;
    
    margin-top: 5px;;
    
}
.compass{
    background-image: url("../img/serv.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
     float:left;
    
    margin-top: 5px;
}
.know{
    background-image: url("../img/new.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
     float:left;
    
    margin-top: 5px;
}
.email{
    background-image: url("../img/chat.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
     float:left;
    
    margin-top: 5px;
}

.home:visited,.know:visited,.compass:visited,.email:visited{
   background-image:linear-gradient(
      rgba(255, 0, 0, 0.1), 
      rgba(255, 0, 0, 0.1));
}
input{
    height: 50px;
}
